body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

/*начало стилей первое окно*/
.window-one {
    background: url("../img/background_pictures/background _pic1.jpg");
    background-size: cover;
    height: 100vh;
}

.title__window__one {
    font-size: 23px;
    font-family: "Gotham Pro";
    color: rgb(13, 49, 156);
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix(2.09302578296686, 0, 0, 2.09395421374965, 0, 0);
    -webkit-transform: matrix(2.09302578296686, 0, 0, 2.09395421374965, 0, 0);
    -ms-transform: matrix(2.09302578296686, 0, 0, 2.09395421374965, 0, 0);
    position: absolute;
    left: 260px;
    top: 165px;
}

.subtitle__window__one1, .subtitle__window__one2, .subtitle__window__one3, .subtitle__window__one4 {
    font-size: 8px;
    font-family: "Lato";
    color: rgb(13, 49, 156);
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix(2.29329922174313, 0, 0, 2.29139022272731, 0, 0);
    -webkit-transform: matrix(2.29329922174313, 0, 0, 2.29139022272731, 0, 0);
    -ms-transform: matrix(2.29329922174313, 0, 0, 2.29139022272731, 0, 0);
    position: absolute;
}

.subtitle__window__one1 {
    left: 665px;
    top: 280px;
}

.subtitle__window__one2 {
    left: 261px;
    top: 402px;
}

.subtitle__window__one3 {
    left: 418px;
    top: 514px;
}

.subtitle__window__one4 {
    left: 817px;
    top: 494px;
    z-index: 32;
}

.pagination {
    left: 96%;
    margin-top: 360px;
    position: absolute;
    z-index: 1;
}

.ellipse {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 14px;
    height: 14px;
    margin-bottom: 7px;
}

.ellipse-orange {
    background-color: rgb(247, 139, 31);
}
.next_close {
    opacity: 0;
}
.next {
    background: url("../img/background_pictures/next.png");
    background-size: cover;
    position: absolute;
    left: 0;
    top: 28.2%;
    width: 1024px;
    height: 120px;
    transition-duration: 300ms;
}

.scroll {
    transform: translateY(-000vh);
    transition-duration: 1000ms;
}

/*конец стилей первое окно*/
/*начало стилей второе окно*/
.window-two {
    height: 100vh;
    background: url("../img/background_pictures/background _pic2.jpg");
    background-size: cover;
}

.container__window-two {
    height: 100vh;
    background: url("../img/background_pictures/bk2w.png");
    background-size: cover;
}

.title__window-two {
    font-size: 48px;
    font-family: "Gotham Pro";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    /*-moz-transform: matrix( 2.09302578296686,0,0,2.09395421374965,0,0);
    -webkit-transform: matrix( 2.09302578296686,0,0,2.09395421374965,0,0);
    -ms-transform: matrix( 2.09302578296686,0,0,2.09395421374965,0,0);*/
    padding-top: 260px;
}

/*конец стилей второе окно*/

.wrap-container {
    height: 100vh;
    position: relative;
    background: url("../img/background_pictures/background _pic3.jpg");
    background-size: cover;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

/*стили слайдера начало*/
.slider-container {
    top: 88%;
    width: 614px;
    margin: auto;
    position: absolute;
    transform: translate(32%, 0);
    z-index: 1;
    display: grid;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    background: url("../img/background_pictures/slider_bg.png");
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 43px;
    height: 55px;
    background: url("../img/background_pictures/sliger_img.png") repeat;
    background-size : cover;
}

.slider::-moz-range-thumb {
    width: 53px;
    height: 55px;
    background: url("../img/background_pictures/sliger_img.png");
    background-size: cover;
}
.slider__date {
    padding-top: 25px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 570px;
}
.slider__date p {
    font-size: 19px;
    font-family: "Gotham Pro";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
   /* -moz-transform: matrix( 1.78603956947011,0,0,1.780085351686,0,0);
    -webkit-transform: matrix( 1.78603956947011,0,0,1.780085351686,0,0);
    -ms-transform: matrix( 1.78603956947011,0,0,1.780085351686,0,0);
*/
}

/*стили слайдера конец*/
/*стили третье окно начало*/

.window-tree {
    height: 100vh;
    width: 100vw;
    position: absolute;
    transition-duration: 1000ms;
    background: url("../img/background_pictures/bk3w_ice.png");
    background-size: cover;
}

.title__window-tree {
    font-size: 30px;
    font-family: "Gotham Pro";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    padding-left: 82px;
    padding-top: 109px;
}

.info-img__window-tree {
    height: 460px;
    margin-left: 70px;
    position: absolute;
}
/*стили третье окно конец*/

/*стили четвертое окно начало*/
.window-four {
    height: 100vh;
    width: 100vw;
    position: absolute;
    transform: translateX(-100vw);
    transition-duration: 1000ms;
    background: url("../img/background_pictures/bk4w_ice.png") no-repeat;
}

.title__window-four {
    font-size: 30px;
    font-family: "Gotham Pro";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    margin-left: 83px;
    margin-top: 109px;
}

.info-img__window-four {
    position: absolute;
    height: 471px;
    width: 755px;
    margin: 10px 0 0 150px;
}

/*стили четвертое окно конец*/
/*стили пятое окно начало*/
.window-five {
    background: url("../img/background_pictures/bk5w_ice.png") no-repeat;
    height: 100vh;
    width: 100vw;
    position: absolute;
    transform: translateX(-100vw);
    transition-duration: 1000ms;
}

.title__window-five {
    margin-left: 95px;
    margin-top: 150px;
    font-size: 30px;
    font-family: "Gotham Pro";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
}
.info-img__window-five {
    position: absolute;
    height: 330px;
    width: 577px;
    margin: 25px 0 0 243px;
}

/*стили пятое окно конец*/

