body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

/*начало стилей первое окно*/
.window-one {
    background: url("../img/background_pictures/background _pic1.jpg");
    background-size: cover;
    height: 100vh;
}

.title__window__one {
    font-size: 23px;
    font-family: "Gotham Pro";
    color: rgb(13, 49, 156);
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix(2.09302578296686, 0, 0, 2.09395421374965, 0, 0);
    -webkit-transform: matrix(2.09302578296686, 0, 0, 2.09395421374965, 0, 0);
    -ms-transform: matrix(2.09302578296686, 0, 0, 2.09395421374965, 0, 0);
    position: absolute;
    left: 260px;
    top: 165px;
}

.subtitle__window__one1, .subtitle__window__one2, .subtitle__window__one3, .subtitle__window__one4 {
    font-size: 8px;
    font-family: "Lato";
    color: rgb(13, 49, 156);
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix(2.29329922174313, 0, 0, 2.29139022272731, 0, 0);
    -webkit-transform: matrix(2.29329922174313, 0, 0, 2.29139022272731, 0, 0);
    -ms-transform: matrix(2.29329922174313, 0, 0, 2.29139022272731, 0, 0);
    position: absolute;
}

.subtitle__window__one1 {
    left: 665px;
    top: 280px;
}

.subtitle__window__one2 {
    left: 261px;
    top: 402px;
}

.subtitle__window__one3 {
    left: 418px;
    top: 514px;
}

.subtitle__window__one4 {
    left: 817px;
    top: 494px;
    z-index: 32;
}

.pagination {
    left: 96%;
    margin-top: 360px;
    position: absolute;
    z-index: 1;
}


.ellipse {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 14px;
    height: 14px;
    margin-bottom: 7px;
}

.ellipse-orange {
    background-color: rgb(247, 139, 31);
}

.next {
    background: url("../img/background_pictures/next.png");
    background-size: cover;
    position: absolute;
    left: 0px;
    top: 28.2%;
    width: 1024px;
    height: 120px;
}

.scroll {
    transform: translateY(-000vh);
    transition-duration: 1000ms;
}

/*конец стилей первое окно*/
/*начало стилей второе окно*/
.window-two {
    height: 100vh;
    background: url("../img/background_pictures/background _pic2.jpg");
    background-size: cover;
}

.container__window-two {
    height: 100vh;
    background: url("../img/background_pictures/bk2w.png");
    background-size: cover;
}

.title__window-two {
    font-size: 48px;
    font-family: "Gotham Pro";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    /*-moz-transform: matrix( 2.09302578296686,0,0,2.09395421374965,0,0);
    -webkit-transform: matrix( 2.09302578296686,0,0,2.09395421374965,0,0);
    -ms-transform: matrix( 2.09302578296686,0,0,2.09395421374965,0,0);*/
    padding-top: 260px;
}

/*конец стилей второе окно*/

.wrap-container {
    height: 100vh;
    position: relative;
    background: url("../img/background_pictures/background _pic3.jpg");
    background-size: cover;
}

/*стили слайдера начало*/
.slider-container {
    top: 88%;
    width: 614px;
    margin: auto;
    position: absolute;
    transform: translate(32%, 0);
    display: flex;
    z-index: 1;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    background: #ccffff;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 43px;
    height: 55px;
    background: url("../img/background_pictures/sliger_img.png");
    background-size : cover;
}

.slider::-moz-range-thumb {
    width: 43px;
    height: 55px;
    background: url("../img/background_pictures/sliger_img.png");
    background-size: cover;
}

/*стили слайдера конец*/
/*стили третье окно начало*/

.window-tree {
    height: 100vh;
    width: 100vw;
    position: absolute;
    transition-duration: 1000ms;
    background: url("../img/background_pictures/bk3w_ice.png");
    background-size: cover;
}

.title__window-tree {
    font-size: 30px;
    font-family: "Gotham Pro";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    padding-left: 82px;
    padding-top: 109px;
}

.info__window-tree {
    height: 460px;
    margin-left: 70px;
    position: absolute;
}

/*стили третье окно конец*/

/*стили четвертое окно начало*/
.window-four {
    background-color: blueviolet;
    height: 100vh;
    width: 100vw;
    position: absolute;
    transform: translateX(-100vw);
    transition-duration: 1000ms;
}

/*стили четвертое окно конец*/
/*стили пятое окно начало*/
.window-five {
    background-color: darkcyan;
    height: 100vh;
    width: 100vw;
    position: absolute;
    transform: translateX(-100vw);
    transition-duration: 1000ms;
}

/*стили пятое окно конец*/

